body{
    background: url(../Images/FEDBackground.png);
    background-size:cover;
    opacity:100;
}

header {
    border: solid;
    font-size: x-large;
}
header h1, header p{
    margin-left:25%;
}
nav{
    border: solid;
}
footer{
    border: solid;
}
nav ul li{
    display: inline-block;
}
    nav ul li a {
        padding: .4em 1em;
        display: block;
        font-size:large;
    }
 .choose-us h1 {
    text-align:center;
}
 .choose-us h2{
     text-align:center
 }
#compLogo {
    float: left;
    resize:both;

}
#aboutUsImg{
    float: left;
    height: 200px;
    width: 250px;
    margin: 1%;
    
   
}
.clear{
    clear:both;
}
.textAlignLeft h1{
    text-decoration: underline;
}
.textAlignLeft{
    text-align: left;
    margin-left: 15px;
}
.textAlignRight {
    text-align: right;
    margin-right: 15px;
}
#reasonOnePic{
    float:left;
    height: 40%;
    width: 50%;
    padding-right: 10%;

}
#reasonTwoPic {
    float: right;
    height: 40%;
    width: 50%;
    padding-left: 10%;
}
#centerHeader{
    text-align: center;
}
.contact{
    text-align:center;
}
#contactFormat{
    text-align:left;
    padding-left:30%;
}
.contactFormat article{
    text-align:center;
}
.contactInfo {
    display: inline;
    border-top-style: solid; 
    border-bottom-style: solid;
    margin-left: 15px;
}
#rightColumn {
    float: right;
    margin-left:auto;
    position: sticky;
    top: 0;
}
aside{
    display:block;
    width: 25%;
}
#leftColumn {
    float: left;
    width: 70%;
    border-right-style: solid;
    box-sizing: border-box;
}
.clear{
    clear:both;
}
.hidden{
  
}
.teamPics {
    float: left;
    height: 200px;
    width: 250px;
}
.classGallery {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 350px;
}
.classImages{
    width:10px;
}
.Department{
    text-align:center;
    font-weight:900;
    font-size: 50px;
}
.DepartmentPic{
    float: left;
    height: 25%;
    width: 25%;
    padding-left:2%;
    padding-right: 5%;
    
    
}
.Department , p{
    padding-bottom: 2%;
}
.choose-us{
    padding:.5%;
    padding-right:0;
    padding-left:0;
   
}
.choose-us h1{
    font-size: 300%;
    margin-top:2%;
}
.choose-us article{
    padding: 3%;
    
}
.about-us{
    padding:2%;
}
.about-us h1{
    font-size:200%;
    text-decoration:underline;
}
main{
    border:solid;
}
#classSchedule{
    width:30%;
    margin-left:35%;
    margin-right:35%;
}
    #classSchedule th, #classSchedule td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
.classInformation {
    position: relative;
    float: left;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    border:solid;
    background-color:aliceblue;
    
}
#classes{
    padding-left: 5%;
    padding-right: 5%;
}
.classPhoto {
    max-height:100%;
    max-width:100%;
}
#contactTable {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 10%;
}
#contactTable th {
    font-size:150%;
    text-align:left;
    margin-top:5%;
    padding-bottom:2.5%;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
}
.contact h1{
    font-size:250%;
    
}
.tableContent{
    margin-bottom:1%;
}
.classInformation:hover{
    
}
#leftColumn p{
     margin-bottom:6%;
 }

    





